extends layout 
 
block content 
  h1= title 
 if (toShow == null) 
    h2 No instance to delete 
  else 
    - let iphoneid = toShow._id 
    - let iphone_color  = toShow.color 
    - let iphonecost = toShow.cost 
    - let iphonemodel = toShow.model   
    - let actionid = "/resource/iphone/" + iphoneid 
    script let actionid = "#{actionid}"
     
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{iphoneid} 
  - let actionid = "/resource/iphones/" + iphoneid 
  form(id='iphoneForm', action= actionid, method="PUT") 
    div.form-group 
        label.iphoneAttr(for='iphone_color') iphone color 
        input#iphone_type(type='text', name='iphone_color', value= iphone_color ) 
    div.form-group 
        label.iphoneAttr(for='cost') iphone cost 
        input#size(type='number', name='cost', value= iphonecost ) 
    div.form-group 
        label.iphoneAttr(for='model') iphone model 
        input#cost(type='text', name='model', value= iphonemodel ) 
    input(type="submit") 
 
  script. 
    document.forms['iphoneForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 